<form id="searchbox" class="mz-searchbox" action="{% make_url "search" %}">
    <input type="hidden" name="categoryId" value="{{themeSettings.allProductsCategoryId}}" />
    <span class="mz-searchbox-field">
          <span id="search-cross" class="mz-close-icon glyphicon glyphicon-remove visible-xs"></span>
        <input placeholder="{{ labels.search }}" id="search-field" type="search" class="mz-searchbox-input ml-header-search-field form-control" autocomplete="off" name="query" data-mz-role="searchquery" aria-expanded="true"  />

        <button class="mz-searchbox-button" type="submit">
            <span class="glyphicon glyphicon-search">
                <span class="hide">{{ labels.search }}</span>
            </span>
        </button>
    </span>
    <!--
	<select class="mz-searchbox-categories" name="categoryId" 
            data-mz-contextify='[value="{{ pageContext.categoryId }}"]'
            data-mz-contextify-attr='selected'
            data-mz-contextify-val='selected'>
        <option value="">{{ labels.all }}</option>
        {% partial_cache %}
        {% for node in navigation.tree %}
        {% if node.nodeType == "category" and not node.isEmpty %}
        <option value="{{node.originalId}}">{{node.name}}</option>
        {% endif %}
		{% endfor %}
        {% endpartial_cache %}
	</select>
    -->
    {% require_script "modules/contextify" %}
    {% if themeSettings.useSearchAutocomplete %}
        {% require_script "modules/search-autocomplete" %}
    {% endif %}
</form>
<button class="mz-mobile-searchbox-button">
    <span class="glyphicon glyphicon-search">
        <span class="hide">{{ labels.search }}</span>
    </span>
</button> 